<main class="page cv-page">
  <section class="portfolio-block block-intro border-bottom">
    <div class="container">
      <div
        class="avatar"
        style='background-image: url("assets/img/Trish%20pic.jpg");'
      ></div>
      <div class="about-me">
        <p>
          Hi! I am <strong>Tricelle&nbsp;Gray</strong>. I&nbsp;<br />creative
          and dependable Web Developer with a<br />passion for programming and
          web development. Actively pursuing opportunities to<br />provide my
          programming skills, enthusiasm, and willingness to learn and<br />improve,
          to a company where my acquired skills will be utilized to<br />their
          best to improve the company’s overall performance.<br />
        </p>
      </div>
    </div>
  </section>
  <section class="portfolio-block cv">
    <div class="container">
      <div class="work-experience group">
        <div class="heading">
          <h2 class="text-center">Work Experience</h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>Web Developer</h3>
              <h4 class="organization">Stragix Innovations (Freelance)</h4>
            </div>
            <div class="col-md-6">
              <span class="period">September 2019 &nbsp;- &nbsp;Present</span>
            </div>
          </div>
          <ul>
            <li>
              &nbsp;Develop interactive &nbsp;front-end HTML, CSS, Angular &amp;
              JavaScript/typescript<br />&nbsp;websites<br />
            </li>
            <li>Provide backend solution with Firebase<br /></li>
          </ul>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-6">
              <h3><strong>CSS</strong><br /></h3>
              <h4 class="organization">Early Warning Services</h4>
            </div>
            <div class="col-md-6">
              <span class="period">May 2017 - June 2019</span>
            </div>
          </div>
          <ul>
            <li>
              Review requests to verify the accuracy of file disclosures<br />
            </li>
            <li>&nbsp;Validate records<br /></li>
            <li>Perform initial research for consumer disputes<br /></li>
            <li>
              Work independently as part of a team to &nbsp;fulfill team
              objectives<br />
            </li>
          </ul>
        </div>
      </div>
      <div class="education group">
        <div class="heading">
          <h2 class="text-center">Education</h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3>Bachelor of Science in Computer Programming<br /></h3>
              <h4 class="organization">
                <strong>Grand Canyon University</strong><br />
              </h4>
            </div>
            <div class="col-md-6"><span class="period">In progress</span></div>
          </div>
        </div>
      </div>
      <div class="education group">
        <div class="heading">
          <h2 class="text-center">skills</h2>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-center" style="padding-bottom: 20px;">
                Languages / Frameworks<br />
              </h3>
              <ul class="list-unstyled text-center" style="margin: 0px;">
                <li><strong>Angular</strong></li>
                <li class="text-center"><strong>Bootstrap</strong></li>
                <li><strong>TypeScript</strong></li>
                <li><strong>JavaScript</strong></li>
                <li><strong>CSS3</strong></li>
                <li style="padding-bottom: 20px;"><strong>HTML5</strong></li>
              </ul>
              <h3 class="text-center">&nbsp;Learning</h3>
              <ul class="list-unstyled text-center">
                <li><strong>C#</strong></li>
                <li><strong>.Net</strong></li>
              </ul>
            </div>
            <div class="col-md-6 offset-md-0">
              <h3 class="text-center" style="margin-bottom: 20px;">
                Technologies<br />
              </h3>
              <ul class="list-unstyled text-center">
                <li><strong>Visual Studio</strong></li>
                <li><strong>VS Code</strong></li>
                <li><strong>Git</strong></li>
                <li><strong>Github</strong></li>
                <li><strong>Npm</strong></li>
                <li><strong>Angular Cli</strong></li>
                <li><strong>Firebase</strong></li>
              </ul>
            </div>
            <div class="col">
              <header></header>
            </div>
          </div>
        </div>
      </div>
      <div class="group"></div>
      <div class="heading"></div>
      <div class="contact-info portfolio-info-card">
        <h2 style="margin-left: 0px;">Contact Info</h2>
        <div class="row">
          <div class="col-1"><i class="icon ion-person icon"></i></div>
          <div class="col-9"><span>Tricelle Gray</span></div>
        </div>
        <div class="row">
          <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
          <div class="col-9"><span>602-803-9779</span></div>
        </div>
        <div class="row">
          <div class="col-1"><i class="icon ion-at icon"></i></div>
          <div class="col-9"><span><a href="mailto:tricellegray@gmail.com" target="_top">tricellegray@gmail.com</a></span></div>
        </div>
      </div>
    </div>
  </section>
</main>
