  <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>EVERYTHING BABY</h2>
                </div>
                <div class="image" style="background-image: url(&quot;assets/img/everythingbaby.JPG&quot;);"></div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>An intuitive e-commerce web application that focuses on baby products.&nbsp;</p>
                        <p>Multiple technologies were used such as<strong><em> Angular</em></strong> and <strong><em>TypeScript</em></strong> for the front-end and <strong><em>Firebase</em></strong> as the data store.&nbsp;</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Project URL</span><a href="#"><br>https://everythingbaby-e17ba.firebaseapp.com<br><br></a></div>
                    </div>
                </div>
                <div class="more-projects">
                    <h3 class="text-center">More Projects</h3>
                    <div class="row gallery">
                        <div class="col-md-4 col-lg-3" style="height: 189px;max-width: 50%;min-width: 50%;">
                            <div class="item"><a href="https://github.com/Tricelle" target="_blank"><img class="img-fluid scale-on-hover" src="assets/img/Capture.PNG" style="height: 300px;"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3" style="min-width: 50%;max-width: 50%;">
                            <div class="item"><a href="https://github.com/Tricelle" target="_blank"><img class="img-fluid scale-on-hover" src="assets/img/workflow.PNG" style="height: 300px;"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
