<main class="page landing-page">
  <section class="portfolio-block block-intro" style="background-image: url(&quot;assets/img/background-photo.jpg&quot;);filter: blur(0px);height: 1200px;">
      <div class="container-fluid">
          <div class="avatar" style="background-image: url(&quot;assets/img/profile-photo.png&quot;);"></div>
          <div class="name">
          <h1>TRICELLE GRAY</h1>
          </div>
          <div class="about-me">
              <p>WEB DEVELOPER&nbsp;</p>
          </div>
      </div>
  </section>
</main>


